<div class="top-row ps-3 navbar navbar-dark" style="background-color: black !important">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Star Wars Wiki</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="background-color: black !important">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Personajes">
                <span class="oi oi-people" aria-hidden="true"></span> Characters
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Películas">
                <span class="oi oi-video" aria-hidden="true"></span> Films
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Naves">
                <span class="oi oi-location" aria-hidden="true"></span> Starships
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Vehículos">
                <span class="oi oi-aperture" aria-hidden="true"></span> Vehicles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Especies">
                <span class="oi oi-eye" aria-hidden="true"></span> Species
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Planetas">
                <span class="oi oi-globe" aria-hidden="true"></span> Planets
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Trailers">
                <span class="oi oi-people" aria-hidden="true"></span> Trailers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Most_like_characters">
                <span class="oi oi-people" aria-hidden="true"></span> Most like characters
            </NavLink>
        </div>
    
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
