@page "/Especies4"

@using System.Net.Http;
@using System.Text.Json;
@using System.Collections.Generic;
@inject HttpClient httpClient

<style>
    .species {
        margin-top: 50px;
        border: 5px solid white;
        margin-left: 10px;
        text-align: center;
        padding: 10px;
    }

    .container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .botones {
        display: flex;
        justify-content: center;
    }

    .boton {
        margin: 0 5px;
    }
</style>

<h2>Species</h2>

<div class="botones">
    <button class="boton"><a href="Especies">1</a></button>
    <button class="boton"><a href="Especies2">2</a></button>
    <button class="boton"><a href="Especies3">3</a></button>
    <button class="boton"><a href="Especies4">4</a></button>
</div>
<div>
    @if (species != null)
    {
        <div class="container">
            @foreach (var specie in species)
            {
                <div class="species">
                    @{
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/species/{species.IndexOf(specie) + 31}.jpg";
                        var errorImageUrl = "https://www.rosemacsales.com/assets/images/no_image.png";
                    }
                    <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                    <h3>Name: @(string.IsNullOrEmpty(specie.name) ? "No information avalible" : specie.name)</h3>
                    <h3><a href="Especie">@specie.url</a></h3>
                </div>
            }

            <div>
            </div>
        </div>
    }
</div>

@code {
    string searchstring;
    HttpRequestMessage requestMessage;
    HttpResponseMessage responseMessage;
    List<Species> species;

    protected override async Task OnInitializedAsync()
    {
        species = new List<Species>();

        for (int i = 31; i <= 37; i++)
        {
            requestMessage = new HttpRequestMessage
                {
                    Method = HttpMethod.Get,
                    RequestUri = new Uri($"https://swapi.dev/api/species/{i}")
                };

            responseMessage = await httpClient.SendAsync(requestMessage);

            if (responseMessage.IsSuccessStatusCode)
            {
                var responseString = await responseMessage.Content.ReadAsStringAsync();
                var specie = JsonSerializer.Deserialize<Species>(responseString);

                species.Add(specie);
            }
        }
    }

    public class Species
    {
        public string name { get; set; }
        public string url { get; set; }
    }
}