@page "/Naves4"

@using System.Net.Http;
@using System.Text.Json;
@using System.Collections.Generic;
@inject HttpClient httpClient

<style>
    .starships {
        margin-top: 50px;
        border: 5px solid white;
        margin-left: 10px;
        text-align: center;
        padding: 10px;
    }

    .container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .botones {
        display: flex;
        justify-content: center;
    }

    .boton {
        margin: 0 5px;
    }
</style>

<h2>Starships</h2>

<div class="botones">
    <button class="boton"><a href="Naves">1</a></button>
    <button class="boton"><a href="Naves2">2</a></button>
    <button class="boton"><a href="Naves3">3</a></button>
    <button class="boton"><a href="Naves4">4</a></button>

</div>
<div>
    @if (starships != null)
    {
        <div class="container">
            @foreach (var starship in starships)
            {
                <div class="starships">
                    @{
                        var imageUrl = $"https://starwars-visualguide.com/assets/img/starships/{starships.IndexOf(starship) + 64}.jpg";
                        var errorImageUrl = "https://www.rosemacsales.com/assets/images/no_image.png";
                    }
                    <img src="@imageUrl" onerror="this.src='@errorImageUrl'" />
                    <h3><a href="Nave">Name: @(string.IsNullOrEmpty(starship.name) ? "No information avalible" : starship.name)</a></h3>
                </div>
            }
        </div>
    }
</div>

@code {
    string searchstring;
    HttpRequestMessage requestMessage;
    HttpResponseMessage responseMessage;
    List<Starship> starships;

    protected override async Task OnInitializedAsync()
    {
        starships = new List<Starship>();

        for (int i = 64; i <= 75; i++)
        {
            requestMessage = new HttpRequestMessage
                {
                    Method = HttpMethod.Get,
                    RequestUri = new Uri($"https://swapi.dev/api/starships/{i}")
                };

            responseMessage = await httpClient.SendAsync(requestMessage);

            if (responseMessage.IsSuccessStatusCode)
            {
                var responseString = await responseMessage.Content.ReadAsStringAsync();
                var starship = JsonSerializer.Deserialize<Starship>(responseString);

                starships.Add(starship);
            }
        }
    }

    public class Starship
    {
        public string name { get; set; }
        public string url { get; set; }
    }
}
