@page "/"

<PageTitle>Star Wars Wiki</PageTitle>

<h1 id="main-titulo">Star Wars Wiki</h1><br />

<h3>Aquí encontraras información de Star Wars sobre: </h3>

<div class="inicio-links">

	<h4>- <a class="links" href="Personajes">Personajes</a></h4>

	<h4>- <a class="links" href="Películas">Películas</a></h4>

	<h4>- <a class="links" href="Naves">Naves</a></h4>

	<h4>- <a class="links" href="Vehículos">Vehículos</a></h4>

	<h4>- <a class="links" href="Especies">Especies</a></h4>

	<h4>- <a class="links" href="Planetas">Planetas</a></h4>
</div>

