@page "/"


<PageTitle>Star Wars Wiki</PageTitle>

<h1 id="main-titulo">Star Wars Wiki</h1><br />

<h3>Here you will find Star Wars information about: </h3>

<div class="inicio-links">

	<h4>- <a class="links" href="Personajes">Characters</a></h4>

	<h4>- <a class="links" href="Películas">Films</a></h4>

	<h4>- <a class="links" href="Naves">Starships</a></h4>

	<h4>- <a class="links" href="Vehículos">Vehicles</a></h4>

	<h4>- <a class="links" href="Especies">Species</a></h4>

	<h4>- <a class="links" href="Planetas">Planets</a></h4>

	<h4>- <a class="links" href="Trailers">Trailers</a></h4>
</div>

