@inject IJSRuntime JSRuntime
@page "/"


<PageTitle>Star Wars Wiki</PageTitle>



<div class="logo">
	<h1>Star Wars</h1>
	<p>The Best Star Wars Wiki</p>
	<h3>Creators :&nbsp; Kevin&nbsp; Leo&nbsp; Guille</h3>
	<h3>
		Information obtained from: https://swapi.dev/
		<br />
		Images obtained from: https://starwars-visualguide.com/#/
	</h3>
</div>

