@page "/"

@using PaginaStarWuors.Shared;

<PageTitle>Star Wars Wiki</PageTitle>

<h1>Bienvenido a la Wiki de Star Wars</h1>

<h2>Aquí puedes encontrar informacion sobre: </h2>

<h3 class="links">- <a href="/Personajes">Personajes</a></h3>

<h3 class="links">- <a href="/Peliculas">Películas</a></h3>

<h3 class="links">- <a href="Naves">Naves</a></h3>

<h3 class="links">- <a href="/Vehiculos">Vehículos</a></h3>

<h3 class="links">- <a href="/Especies">Especies</a></h3>

<h3 class="links">- <a href="/Planetas">Planetas</a></h3>

