@page "/Trailers"

<style>
    .trailers {
        display: grid;
        grid-template-columns: auto auto;
    }
</style>

<h2>Trailers</h2>

<div class="trailers">
    <div class="IV">
        <h2>Star Wars Episode IV: A New Hope</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vZ734NWnAHA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    
    <div class="V">
        <h2>Star Wars Episode V: The Empire Strikes Back</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JNwNXF9Y6kY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="VI">
        <h2>Star Wars Episode VI: The Return of the Jedi</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7L8p7_SLzvU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="I">
        <h2>Star Wars Episode I: The Phantom Menace</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bD7bpG-zDJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="II">
        <h2>Star Wars Episode II: Attack of the Clones</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gYbW1F_c9eM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="III">
        <h2>Star Wars Episode III: The Revenge of the Sith</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5UnjrG_N8hU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

</div>

@code {

}
